.r {
  outline: 2px solid red;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: "MyriadProRegular", sans-serif;
  color: black;
  font-style: normal;
  background-color: white;
}
a {
  font-size: 18px;
  line-height: 27px;
  font-family: "MyriadProRegular", sans-serif;
  font-style: normal;
}
.visually-hidden {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}
